[submodule "OCA/role-policy"]
	path = OCA/role-policy
	url = git@github.com:OCA/role-policy.git
	branch = 13.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 13.0

[submodule "crbll0/growit_employee"]
	path = crbll0/growit_employee
	url = git@github.com:crbll0/growit_employee.git
	branch = main

[submodule "crbll0/grow_real_estate"]
	path = crbll0/grow_real_estate
	url = git@github.com:crbll0/grow_real_estate.git
	branch = 13.0

[submodule "OCA/purchase-workflow"]
	path = OCA/purchase-workflow
	url = git@github.com:OCA/purchase-workflow.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0
